body {
    margin: 0;
    font-family: "Smythe", system-ui;
    box-sizing: border-box;
} 

.container {
    width: 600px;
    margin: 0 auto;
}

header {
    position: relative;
}

header img {
    width: 100%;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 46px;
    left: 46px;
    color: #FFFFFF;
}

header h2 {
    margin: 0;
    position: absolute;
    top: 90px;
    left: 46px;
    color: #FFFFFF;
}

/* Menu Item Styling */
.menu-item {
    padding: 46px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #D2D2D2;

}

.menu-item-img {
    font-size: 80px;
    margin: 0;
}

.menu-item-description {
    flex-grow: 1;
}

.menu-item-name {
    margin: 0px;
    font-size: 28px;
}

.menu-item-ingredients {
    margin-top: 2px;
    color: #8B8B8B;
}

.menu-item-price {
    font-size: 20px;
    margin: 0px;
}

.add-menu-item {
    justify-self: flex-end;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    font-size: 32px;
    background-color: #FFFFFF;
    color: #3C3C3C;
}

.add-menu-item:hover {
    background-color: #F3F4F6;
    cursor: pointer;
}

.add-menu-item:active {
    background-color: #E5E7EB;
}

/* Order Section Styling */

#order h1 {
    font-size: 28px;
    margin: 46px 0;
    text-align: center;
    font-weight: 400;
}

.order-item {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 46px 16px;
}

.order-item p {
    margin: 0;
}

.order-item-name {
    font-size: 28px;
}

.remove-area {
    flex-grow: 1;
}

.remove-order-item {
    color: #9CA3AF;
    border: none;
    background-color: #FFFFFF;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.remove-order-item:hover {
    cursor: pointer;
    background-color: #F3F4F6;
    border-radius: 3px;
}

.remove-order-item:active {
    cursor: pointer;
    background-color: #E5E7EB;
    border-radius: 3px;
}

.order-item-price {
    justify-self: flex-end;
    font-size: 20px;
}

.order-total {
    border-top: 2px solid #393333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 46px 0;
}

.order-total-label {
    margin: 0px;
    padding-top: 14px;
    font-size: 28px;
}

.order-total-price {
    font-size: 20px;
}

#complete-order {
    margin-top: 46px;
    padding: 18px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
}